%div.container
  .jumbotron
    %h2 People about us
    %p
      %blockquote
        muhPaste is the best tool to share my crap! It's fast, fancy and better than FileBin!
        %small
          Sha Vusch -
          %cite User Experience Wizard, Kickstarter Mastermind, Tumblr Pioneer
      %blockquote
        Best tool to leak your private keys really really fast!
        %small
          Bonobo II a.D. -
          %cite Innovation Watchman, Pinterest Prophet
      %blockquote
        Did we mentioned how fast it is?
        %small
          The ProtaGOnist -
          %cite Reddit Distruptor, Click-Through Savant
  .jumbotron
    %h2 About the project
    %p
      %em kuh 
      is an api frontend written in ruby - but somehow it's mostly javascript.
      It provides an easy to use interface to create, view and share text, code and more with your friends, colleagues or enemies.
      %a{href: 'https://kuh.io'} kuh.io
      represents the very latest version directly from the master branch, pointing to
      %a{href: 'https://muh.io'} muh.io
      which is the latest api version.
    %p
      With
      %em kuh
      you can host a frontent for the original muh.io or every other server running muh.
      This allows you to take as much care of your data as you want.
    %p
      For more information please check out our
      %a{href: 'https://github.com/muhproductions'} repositories
      at github.
